<form [formGroup]="form" (submit)="onSubmit($event)">
  <DialogTitleComponent title="Ders Ekle"></DialogTitleComponent>
  <NameInputComponent [form]="form" placeholder="Ders Adı"></NameInputComponent>
  <mat-form-field>
    <input matInput formControlName="code" #input maxlength="10" minlength="3" placeholder="Ders kodu" required>
  </mat-form-field>
  <CurriculumSelectComponent [form]="form"></CurriculumSelectComponent>
  <DepartmentSelectComponent [form]="form"></DepartmentSelectComponent>
  <BranchSelectComponent [form]="form"></BranchSelectComponent>
  <PeriodSelectComponent [form]="form"></PeriodSelectComponent>
  <ActiveSelectComponent [form]="form"></ActiveSelectComponent>
  <button mat-raised-button color="primary" type="submit">Kaydet</button>
</form>