/*
.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
  }
  .mat-toolbar.mat-primary {
    background: url('../../../assets/images/bg.png') repeat-x;
}

.admin-links, .admin-links:hover {
  background: url('../../../assets/images/header-menu-bg.png');
  color:#fff;
}

.mat-nav-list{
  padding-top: 0;
}
.admin-delete-link{
  float: right;
 text-decoration: none;
 color: rgba(0,0,0,.87);
}


.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.custom-toolbar{
  background: url('../../../assets/images/header-menu-bg.png');  
  min-height: 52px !important;
  color: #fff;
  margin-left: 8px;
}
.custom-toolbar .mat-toolbar-row{
  height: 52px !important;
}
.admin-delete-link{
  color:#fff;

}


*/
.active, .active:hover{
  font-weight: bold;
}
.nav-list {
  padding-top:0;
}
.admin-links, .admin-links:hover {
  background: #00a39f url('../../../assets/images/headerbg.png') 0 0 repeat fixed;
  height: 64px!important;
  color: #fff;
}

.mat-toolbar {   
   background: #00a39f url('../../../assets/images/headerbg.png') 0 0 repeat fixed;
}

.toolbar-title{
  margin-left: 5px;
}


.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 0px;
  margin-right: 0px;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(255, 0, 0, 0.5);
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
