<form [formGroup]="form" (submit)="onSubmit()">
  <DialogTitleComponent title="Ders Güncelle"></DialogTitleComponent>
  <mat-form-field hintLabel="Maksimum 100 karakter">
    <input matInput formControlName="name" #input maxlength="100" minlength="3" placeholder="Ders adı" required>
    <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="code" #input maxlength="10" minlength="3" placeholder="Ders kodu" required>
  </mat-form-field>
  <CurriculumSelectComponent [form]="form"></CurriculumSelectComponent>
  <DepartmentSelectComponent [form]="form"></DepartmentSelectComponent>
  <BranchSelectComponent [form]="form"></BranchSelectComponent>
  <PeriodSelectComponent [form]="form"></PeriodSelectComponent>
  <ActiveSelectComponent [form]="form"></ActiveSelectComponent>
  <button mat-raised-button color="primary" type="submit">Güncelle</button>
</form>