<form [formGroup]="form" (submit)="onSubmit($event)">
  <DialogTitleComponent title="Soru Güncelle"></DialogTitleComponent>
  <CurriculumSelectComponent [form]="form" required="false"></CurriculumSelectComponent>
  <DepartmentSelectComponent [form]="form" required="false"></DepartmentSelectComponent>
  <LessonSelectComponent [form]="form" placeholder="Ders İle İlişkilendir" required="false"></LessonSelectComponent>
  <TextAreaComponent [form]="form" controlName="question" placeholder="Çıktı 1"></TextAreaComponent>
  <button mat-raised-button color="primary" type="submit">Güncelle</button>
</form>