<form [formGroup]="form" (submit)="Add()">
  <h2 mat-dialog-title>Bölüm Ekle</h2>
  <mat-form-field hintLabel="Maksimum 100 karakter">
    <input matInput formControlName="name" #input maxlength="100" minlength="3" placeholder="Bölüm adı" required>
    <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-select formControlName="status" placeholder="Durum seçiniz" required>
      <mat-option value="1">Aktif</mat-option>
      <mat-option value="0">Pasif</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Kaydet</button>
</form>