<form [formGroup]="form" (submit)="onSubmit($event)">
  <DialogTitleComponent title="Öğretim Elemanı Ekle"></DialogTitleComponent>
  <InputComponent [form]="form" controlName="fullname" placeholder="Ad Soyad"></InputComponent>
  <CurriculumSelectComponent [form]="form"></CurriculumSelectComponent>
  <DepartmentSelectComponent [form]="form"></DepartmentSelectComponent>
  <LessonSelectComponent [form]="form"></LessonSelectComponent>
  <ActiveSelectComponent [form]="form"></ActiveSelectComponent>
  <button mat-raised-button color="primary" type="submit">Kaydet</button>
</form>