<form [formGroup]="form" (submit)="onSubmit($event)">
  <DialogTitleComponent title="Soru Grubu Ekle"></DialogTitleComponent>
  <InputComponent [form]="form" controlName="title" placeholder="Başlık"></InputComponent>
  <TextAreaComponent [form]="form" controlName="description" placeholder="Açıklama"></TextAreaComponent>
  <StylishSelectComponent [form]="form"></StylishSelectComponent>
  <RequiredSelectComponent [form]="form"></RequiredSelectComponent>
   <button mat-raised-button color="primary" type="submit">Kaydet</button>
</form>