<form [formGroup]="form" (submit)="onSubmit()">
  <h2 mat-dialog-title>
    Bölüm Güncelle
    <mat-icon class="popup-close-button" (click)="dialogRef.close()">close</mat-icon>
  </h2>
  <mat-form-field hintLabel="Maksimum 100 karakter">
    <input matInput formControlName="name" #input maxlength="100" minlength="3" placeholder="Bölüm adı" required>
    <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
  </mat-form-field>
  <ActiveSelectComponent [form]="form"></ActiveSelectComponent>
  <button mat-raised-button color="primary" type="submit">Güncelle</button>
</form>